ul,
li {
  list-style: none;
}

.container {
  border: 2px solid rgb(70, 66, 66);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.img {
  border-bottom: 2px solid rgb(70, 66, 66);
}

.list {
  display: flex;
  gap: 4px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.textWrapper {
  display: flex;
  margin: 6px;
  align-items: center;
}

.item {
  display: flex;
}

.text {
  margin: 0;
  padding-left: 8px;
  font-size: 12px;
}
.inst {
  margin-right: 2px;
}
