.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn {
  background-color: rgb(81, 88, 212);
  color: white;
  border-radius: 6px;
  border: none;
  height: 30px;
  display: flex;
  gap: 10px;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
